@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC|Inconsolata');

#calculator {
  display: inline-block;
  background: #31363b;
  padding: 8px;
  border-radius: 4px;
}

#display-screen {
  width: calc(60px * 4 + 8px * 3);
}

#formula-display,
#display {
  min-height: 1.1em;
  margin: 0;
  font-family: 'Inconsolata', monospace;
  overflow-wrap: break-word;
  text-align: right;
}

#formula-display {
  background: lightblue;
  font-size: 1rem;

}

#display {
  background: lightgreen;
  font-size: 1.8rem;
}

.row {
  display: flex;
  margin-top: 8px;
  padding: 0;
  border: 0;
}

/* Keys Style */
button {
  margin-left: 8px;
  width: 60px;
  height: 50px;
  background: none;
  color: #eee;
  border: 1px solid;
  border-radius: 4px;
  font-family: 'Noto Serif SC',sans-serif;
  font-size: 1.8rem;
}

button:first-child {
  margin-left: 0;
}

button:active,
button.active,
button:hover {
  background: #4a4f59;
  border-color: #009df8;
}

#clear, #equals{
  width: calc(60px * 2 + 8px)
}

#delete {
  
}