@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC|Inconsolata');

html {

}

body {
  background: #795c6a;
  margin: 0;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#calculator {
  display: inline-block;
  background: #31363b;
  padding: 8px;
  border-radius: 4px;
}

/* Display Style */

#display-screen {
  width: calc(60px * 4 + 8px * 3);
  background: #28847a;
  border: 1px solid #eee;
  border-radius: 4px;
  color: #fff;
}

#formula-display,
#display {
  min-height: 1.1em;
  margin: 0;
  padding: 0 4px;
  font-family: 'Inconsolata', monospace;
  overflow-wrap: break-word;
  text-align: right;
}

#formula-display {
  font-size: 1rem;
  padding-top: 4px;
}

#display {
  font-size: 1.8rem;
}

.row {
  display: flex;
  margin-top: 8px;
  padding: 0;
  border: 0;
}

/* Keys Style */

button {
  margin-left: 8px;
  width: 60px;
  height: 50px;
  background: none;
  color: #eee;
  border: 1px solid;
  border-radius: 4px;
  font-family: 'Noto Serif SC',sans-serif;
  font-size: 1.8rem;
  outline: none;
}

button:first-child {
  margin-left: 0;
}


button::-moz-focus-inner {
	border-style: none;
}

button:active,
button.active,
button:hover {
  background: #4a4f59;
  border-color: #009df8;
}

#equals{
  width: calc(60px * 2 + 8px)
}


/* Credits Style */
#credits {
  margin-top: .5rem;
  font-family: 'Inconsolata', monospace;
  font-size: .75rem;
  color: #fff;
  text-align: center;
}

#credits a,
#credits a:visited {
  color: inherit;
  outline: none;
  text-decoration: none;
  font-weight: bold;
}

#credits a:link {
  color: inherit

}