html, body {
  margin: 0;
}

html {
  height: 100%;
}

html, button {
  font-family: 'Verdana', sans-serif;
  letter-spacing: 0.05rem;
}

#container {
  position: relative;
}

#container canvas, #disabling-container,  #start-popup, #show-settings, #settings-box {
  position: absolute;
}

#show-settings {
  display: block;
  top: 8px;
  right: 8px;
  width: 32px;
  height: 32px;
  background-color: #F9F9FA;
  background-image: url("./assets/sliders.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 72%;
  border-radius: 50%;
  box-shadow: 0 0 8px #888; 
  cursor: pointer;
}

#settings-box {
  display: none;
  padding: 0;
  width: 100%;
  max-width: 720px; 
  /* height: 500px; */
  background-color: #F9F9FA;
  box-shadow: 0 0 8px #888; 
}

@media (min-width:721px){
  #settings-box{
    width: 420px;
  }
}

#settings-box header {
  display: grid;
  height: 26px;
  margin: 10px 10px 30px;  
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
  
}

#settings-tag {
  grid-column: 1 / span 5;
  
  text-align: left;
  font-size: 1.4rem;
  /*font-family: Georgia, serif;
  font-weight: bold;*/
  text-shadow: 0 0 2px #A9A9A9;
  letter-spacing: 0.12rem
  
}

.en-select {
  grid-column: 7 / span 2;
  width: 40px;
  justify-self: center;
  background-image: url("./assets/gb.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 18px;
  cursor: pointer;
  
}

.sp-select {
  grid-column: 9 / span 2;
  width: 36px;
  justify-self: left;
  background-image: url("./assets/mx.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 18px;
  cursor: pointer;
}

#hide-settings {
  grid-column: 11 / span 2;
  width: 26px;  
  justify-self: right;
  background-image: url("./assets/x-square.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 26px;
  cursor: pointer;
}

fieldset {
  margin: 0 10px 30px;
}

fieldset legend {
  text-shadow: 0 0 2px #A9A9A9;
  letter-spacing: 0.1rem;
}

input, label {
  cursor: pointer;
}

#size-slider, #complex-slider{
  width: 90%;
}

fieldset p {
  margin-left: 1rem;
}

fieldset .value-tags {
  padding: 0.1rem;
}

button {
  margin: 0 10px; 
  font-size: 0.95rem;
  line-height: 2;
  cursor: pointer;
}

footer p{
  margin: 0;
  padding: 10px; 
  font-size: 0.8rem; 
  font-weight: bold;
  text-align: right;
  color: #A9A9A9;
}

#disabling-container {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  
}

#opening-popup {
  position: fixed;
  z-index: 2;
  width: 320px;
  height: 200px;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  padding: 5px 10px;
  /* border: solid black; */
  background-color: #F9F9FA;
  box-shadow: 0 0 8px #888;
}

#opening-popup p {
  font-size: 0.95rem;
  text-align: justify;
  text-shadow: 0 0 2px #A9A9A9;
}

#opening-footer {
  position: absolute;
  bottom: 0;
  width: 310px;
  height: 26px;
  display: grid;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 20px;  
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
}

#opening-footer .en-select {
  grid-column: 9 / span 2;
  width: 40px;
  justify-self: center;
  background-image: url("./assets/gb.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 18px;
  cursor: pointer;
  border: 2px solid #888;
}

#opening-footer .sp-select {
  grid-column: 11 / span 2;
  width: 36px;
  justify-self: left;
  background-image: url("./assets/mx.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 18px;
  cursor: pointer;
}

#opening-footer button {
  grid-column: 1 / span 4;
  line-height: 1;
}